{% extends 'base_generic.html' %}

{% block title %}Payment Success{% endblock %}

{% block content %}
    <fieldset style="color: hsl(270, 50%, 60%); border: 0.0625rem solid hsl(270, 50%, 60%);">
        <form>
        <h1 style="  color: hsl(270, 50%, 60%);
                text-shadow: 2px 2px 6px rgba(100, 100, 150, 0.9); /* Darkened shadow color and closer position */
                background: linear-gradient(90deg, hsl(270, 50%, 60%), hsl(270, 50%, 80%));
                -webkit-background-clip: text;
                background-clip: text;">Payment Successful!</h1>
            <p>Thank you for your purchase. An invoice has been sent to your email inbox or email spam.</p>
            <p>Please click Home or contact Kay's Crochet at kayscrochetus@gmail.com or by clicking the Instagram and TikTok icons below.</p>
        </form>
    </fieldset>
{% endblock %}
