<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Out</title>
</head>
<body>
<form method="post" action="{% url 'kayscrochetapp:signout' %}">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'"
            type="submit" style="color: hsl(270, 50%, 60%); font-weight: normal;">LOGOUT</button>
</form>
</body>
</html>