{% extends 'base_generic.html' %}

{% block title %}LOGIN - Kay's Crochet{% endblock %}

{% block content %}
    <div class="flex-grow-1" style="color: hsl(270, 50%, 60%);">
        <form method="post">
            {% csrf_token %}
            <fieldset style="border: 0.0625rem solid hsl(270, 50%, 60%);">
                <legend style="  color: hsl(270, 50%, 60%);
                  text-shadow: 2px 2px 6px rgba(100, 100, 150, 0.9); /* Darkened shadow color and closer position */
                  background: linear-gradient(90deg, hsl(270, 50%, 60%), hsl(270, 50%, 80%));
                  -webkit-background-clip: text;
                  background-clip: text;">LOG IN TO KAY'S CROCHET:</legend>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ form.as_p }}
                <button onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'" onmouseout="this.style.boxShadow='none'" 
                        type="submit" style="color: hsl(270, 50%, 60%); font-weight: normal;">LOGIN</button>
                <p>Click REGISTER to create an account:</p>
                <div>
                    <button type="button" class="button" onmouseover="this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)'"
                            onmouseout="this.style.boxShadow='none'" onclick="window.location.href = '{% url 'kayscrochetapp:signup' %}'" style="color: hsl(270, 50%, 60%);">REGISTER</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    
    <script>
        // Automatically close error messages after 5 seconds (adjust as needed)
        setTimeout(function() {
            document.querySelector('.messages').style.display = 'none';
        }, 3000);
    </script>
{% endblock %}
